/*  Autor: Jorge Tarascó
    Fecha 08 / 1 / 19
*/

@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: lightgrey;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 1%;
}

p:hover { 
    display: block;
    z-index: 3;
}

p.one {
    position: relative;
    border: hsl(40, 40%, 35%) 2px solid;
    background-color: hsl(40, 100%, 75%);
    top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-bottom: 5%;
}

p.two {
    border: hsl(60, 64%, 55%) 4px solid;
    background-color: hsl(60, 100%, 75%);
    position: absolute;
    width: 35%;
    height: 25%;
    left: 10%;
    right: 90%;
    text-align: left;
}

p.th {
    position: absolute;
    border: hsl(300, 15%, 70%) 4px solid;
    background-color: hsl(300, 100%, 95%);
    width: 35%;
    height: 25%;
    left: 10%;
    right: 90%;
    margin-top: 25%;
    text-align: left;
}

p.mid {
    position: absolute;
    border: hsl(120, 40%, 35%) 4px solid;
    background-color: hsl(120, 100%, 75%);
    left: 30%;
    right: 30%;
    width: 35%;
    height: 30%;
    top: 43%;
    text-align: center;
    z-index: 2;
}

p.for {
    position: absolute;
    border: hsl(180, 25%, 70%) 4px solid;
    background-color: hsl(180, 100%, 90%);
    width: 35%;
    height: 25%;
    right: 10%;
    text-align: right;
    bottom: 5%;
    top: 27%;
}

p.fiv {
    position: absolute;
    border: hsl(0, 15%, 45%) 4px solid;
    background-color: hsl(0, 100%, 85%);
    width: 35%;
    height: 25%;
    right: 10%;
    text-align: right;
    bottom: 5%;
    top: 70%;
}